<html lang="en">
<head>
    
    <title>Halaman Kedua</title>
    <meta charset="UTF-8">

</head>

<body>
    <!--  -->
    <br>
    <p><h2>Data Magang Hummasoft 2020</h2></p>
    <!-- <a href="../index.html">Halaman Pertama</a> -->

    <dn>Semua rekapan aktivitas dan informasi mengenai praktik kerja akan di tampilkan seperti pada tabel dibawah ini.
    <br>Mengetahui Direktur dan Media Fasilitator : <b>Dwi Nur Cahyo</b>    |   Telah Diperbaruhi 22 Agustus 2020.
    <br>
    <br>
    <dn><b><a href="../tugas1.html">Halaman Utama &ensp;&ensp;</a><a> >&ensp;&ensp;&ensp;Detail Mahasiswa&ensp;&ensp;&nbsp;>&ensp;&nbsp;NIM : 1831710137 </a></b></dn>
    <br>Informasi Detail :
    
    <!-- Membuat Tabel -->
    <table border="1">
        <tr>
            <!-- colspan merge disamping -->
            <th>
                <img src="../assets/vv.jpeg">
            </th>
            <td>
                <dl>
                    <dt ><b>Informasi Biodata</b> </dt>
                    <dd >Nama : Shofiyyanti Huriyyah Nabilah</dd>
                    <dd >Alamat : Pasuruan</dd>
                    <br>
                    <dt><b>Informasi Pendidikan</b></dt>
                    <dd>Status : Mahasiswi</dd>
                    <dd>Sekolah : Politeknik Negeri Malang</dd>
                    <dd>Jurusan : Akuntansi</dd>
                    <br>
                    <dt><b>Deskripsi Calon Magang</b></dt>
                    <dd>Posisi mahasiswa magang atas nama Shofiyyanti Huriyyah Nabilah berada pada divisi Programmer dan juga UI Designer. Lama waktu magang yaitu 1 bulan. Target dan Capaian yang harus dikuasai yaitu dapat menguasai pemrograman web dan menggunakan framework Codeigniter,Laravel, atau Microframework Slim</dd>
                </dl>
            </td>
        </tr>
    </table>
   

    </form>

    <p>&copy; Kelas Industri 2020 - Exercise Pirst Meet on 20 August 2020</p>

    <form action="../index.html" method="GET">
        
    </form>
</body>
</html>